<!-- ログイン成功メッセージ -->
<% if !@msg.nil? %>
  <div class="alert alert-success" role="alert">
    <%= @msg %>
  </div>
<% end%>

<!-- ログイン失敗メッセージ -->
<% if !@error_msg.nil? %>
  <div class="alert alert-warning" role="alert">
    <%= @error_msg %>
  </div>
<% end%>
