<div class="container">
  <div class="col-md-6 col-md-offset-3">
      <h1>FrexTimeCheck</h1>
      <p>勤之助のログインIDとパスワードを入力してください。</p>
      <%= render 'form' %>
  </div>
  <%= @error_msg %>
  <%= @msg %>
</div>


