<div class="container">
  <div class="col-md-8 col-md-offset-3">
      <h1>FlexTimeCheck</h1>
      <p>勤之助のログインIDとパスワードを入力してください。</p>
      <%= render 'form' %>
      <%= render 'login_result' %>
  </div>
</div>
